/* RESET BÁSICO */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ================= HEADER ================= */

/* HEADER GENERAL */
.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px 64px;
}

/* TOP HEADER */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: 900;
}

/* NAV */
.header-links {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.header-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}


/* ================= HERO ================= */

.hero {
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 48px 0;
}

.hero-content {
  flex: 1;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* TEXTOS HERO */
.hero-title {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 16px 0;
}

/* BOTÓN BASE */
.signup-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

/* ================= MAIN / INFO ================= */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 0;

  max-width: 900px;
  margin: 0 auto;
}

/* TÍTULO INFO */
.info-header {
  font-size: 32px;
  color: #1f2937;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

/* CONTENEDOR DE CARDS */
.info-cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD INDIVIDUAL */
.info-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* IMÁGENES DE LAS CARDS */
.info-card img {
  width: 100%;
  height: auto;
}

/* TEXTO CARD */
.subtext {
  width: 100%;
  text-align: center;
}

/* ================= QUOTE ================= */

.quote-card {
  background-color: #e5e7eb;
  padding: 96px 64px;
}

.quote-content {
  max-width: 696px;
  margin: 0 auto;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.author {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  color: #1f2937;
  margin: 16px 0 0;
}
/* ================= CTA ================= */

.cta{
    padding: 32px 64px;
    background-color: #3882f6;
    margin: 64px 32px;
    border-radius: 8px;
}

.cta-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}


.cta-title{
    color: #e5e7eb;
    font-weight: 900;
    margin-bottom: 0;
}

.cta-text{
    color: #f9faf8;
    margin-top: 4px;
}

.cta-card .signup-button {
  border: 2px solid #e5e7eb;
}

/* ================= FOOTER ================= */

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 32px;
  margin-top: auto;
}
